.sec_nav {
    float: left;
    margin-left: 7%;
    margin-top: 3%;
}

.sec_nav ul li {
    display: inline;
    padding: 10px;   
}

.sec_nav ul li a {
    text-decoration: none;
    color: rgb(66, 74, 82);
    padding: 10px;
    font-weight: bold;
}

.sec_nav ul li a:hover {
    color: rgb(221, 79, 5);
    border-bottom-color: rgb(221, 79, 5);
    border-bottom-style: solid;
    border-bottom-width: 3px;
}