.col-1 {width: 8.33%;}
.col-2 {width: 16.67%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.67%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.67%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.67%;}
.col-12 {width: 100%;}

@media (max-width: 870px) {
    .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .col-5 {width: 100%;}
    .col-6 {width: 100%;}
    .col-7 {width: 100%;}
    .col-8 {width: 100%;}
    .col-9 {width: 100%;}
    .col-10 {width: 100%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}
}

body {
    font-family: Roboto, sans-serif;
    color: rgb(36, 39, 41);
}

#top {
    height: 700px;
    margin-right: -120px;
    margin-left: -9px;
    margin-top: -9px;
}

.bg-image {
    background-image: url("../images/p.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100%;
}

.dropbtn {
    display: none;
}

.logo img {
    height:10%;
    padding-left: 30%;
    margin-top: 17%;
    width: 60%;
    float: left;
}

nav {
    margin-left: 20%;
    padding-top: 1.5%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    height: 10%;
    position: fixed;
    z-index: 3;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 7px;
    font-size: 90%;
    padding-right: 23px;
}

nav ul li a:hover {
    color: rgb(221, 79, 5);
}

.extra {
    background-color: rgb(221, 79, 5);
    color: rgb(255,255,255);
    border: 1px solid rgb(221, 79, 5); 
    position: absolute;
    top: 30%;
    left: 14%;
    border-radius: 5px;
    height: 80%;
}

.info {
    margin: 3%;
    margin-top: 7%;
    margin-left: 9%;
    font-size: 30px;
    font-weight: 200;
    line-height: 56px;
    float: left;
}

.login {
    float: left;
    margin-left: 10%;
    border: 0px solid rgb(36, 39, 41);
    background-color: rgb(255,255,255);
    color: rgb(36, 39, 41);
    margin-top: 7%;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 3%;
}

.login p.ex {
    color: rgb(122, 131, 139)
}

input {
    font-size: 100%;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background-repeat: no-repeat;
    background-position: 8px 9px;
}

input:focus {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 79, 5);
}

input#submit {
    padding-left:15px;
    padding-right: 15px;
    color: rgb(255,255,255);
    margin-top: 5px;
    background-color: rgb(221, 79, 5);
}

input#submit:hover {
    background-color: rgb(255,255,255);
    color: rgb(221, 79, 5); 
}

.login a {
    text-decoration: none;
    color: rgb(221, 79, 5);
}

.dropdown-content {
    display: none;
}

.login a:hover {
    color: rgb(171, 61, 4);
}

@media (max-width: 992px) {
    .full {
        display: none;
    }
    
    nav {
        background-color: rgba(0,0,0,0);
    }

    .dropbtn {
        display: inherit;
        position: relative;
        background-color: rgb(221, 79, 5);
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-top: 4%;  
        margin-left: 450px;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: rgb(171, 61, 4);
    }

    .dropdown {
        position: relative;
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 230px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0;
      }
      
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .show {display:block;}

    .dropdown-content a:hover {
        color: rgb(221, 79, 5)
    }

    .info {
        margin-top: 3%;
    }
}

@media (max-width: 900px) {
    body {
        max-width:800px;
    }
    .extra {
        position: absolute;
        top: 30%;
        left: 7%;
        border-radius: 5px;
        height: 100%;
        width: 90%;
    }

    .info {
        margin: 1%;
        margin-top: 1%;
        margin-left: 6%;
        font-size: 17px;
        font-weight: 100;
        width: 90%;
        padding-right: 10%;
        line-height: 56px;
    }

    .login {
        float: left;
        margin-left: 10%;
        border: 0px solid rgb(36, 39, 41);
        background-color: rgb(255,255,255);
        color: rgb(36, 39, 41);
        margin-top: 1%;
        width: 70%;
        border-radius: 5px;
        text-align: center;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 3%;
    }

    #top {
        height: 800px;
    }

    .dropbtn {
        margin-left: 400px;
    }
}

@media (max-width: 800px) {
    .dropbtn {
        margin-left: 330px;
    }
}

@media (max-width: 700px) {
    .dropbtn {
        margin-left: 290px;
    }
}

@media (max-width: 650px) {
    .dropbtn {
        margin-left: 230px;
    }
}

@media (max-width: 600px) {
    .dropbtn {
        margin-left: 180px;
        margin-top: 23px;
    }
}

@media (max-width: 500px) {
    .dropbtn {
        margin-left: 110px;
    }
}

@media (max-width: 450px) {
    .dropbtn {
        margin-left: 100px;
    }
}

@media (max-width: 430px) {
    .dropbtn {
        margin-left: 70px;
    }

    .logo img {
        margin-top: 7%;
    }

    .extra{
        margin-left: 0.1%;
        height: 110%;
    }

    .info {
        margin: 0.5%;
        margin-left: 6%;
        font-size: 14px;
        padding-right: 10%;
        line-height: 36px;
    }

    input {
        font-size: 100%;
        color: #5a5854;
        background-color: #f2f2f2;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        width: 70%;
        padding: 2px 2px 2px 2px;;
        background-repeat: no-repeat;
        background-position: 8px 9px;
    }
}

@media (max-width: 400px) {
    .dropbtn {
        margin-left: 40px;
    }

    .extra{
        height: 115%;
    }
}

@media (max-width: 350px) {
    .dropbtn {
        margin-left: -1px;
    }

    .extra{
        height: 124%;
    }
}

/* main page css */
div.main {
    text-align: center;
}

div.main p {
    color: white;
    border: thin solid black;
    border-bottom-color: rgb(221, 79, 5);
    border-bottom-style: solid;
    border-bottom-width: 3px;
}