section.main{
    width: 90%;
    margin: 0 5%;
    background: linear-gradient(-30deg, rgba(219, 102, 24, 0.9) 0%,
    rgba(146, 67, 15, 1) 50%, rgba(20, 23, 24, 1) 50%, 
    rgba(45, 92, 88, 0.9) 100%);
    height: auto;
}
div.front{
    width: 100%;
    border: 1px solid rgba(255,255,255,0.1);
    height: auto;
}
div.box{
    margin: 5% 20%;
    margin-bottom: 50px;
    padding: 5% 0;
    width: 60%;
    text-align: center;
    min-height: 60vh;
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: 0 5px 35px rgba(0,0,0,0.2);
}
div.box .reg{
    position: relative;
    width: 100%;
}

div.box .reg h2{
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
div.box .reg .inputBx{
    position: relative;
    width: 100%;
    margin-bottom:  30px;
}
div.box .reg .inputBx input{
    width: 70%;
    outline: none;
    border: 1px solid rgba(255,255,255,0.3);
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 300;
    box-shadow: insert 0 0 25px rgba(0,0,0,0.2);
    }
div.box .reg .inputBx input:focus{
    border: 2px solid white;
}
div.box .reg .inputBx img{
    position: absolute;
    top: 5px;
    left: 16%;
    transform: scale(0.7);
    filter: invert(1);
}
div.box .reg .inputBx [type="submit"]{
    background: white;
    color: rgb(22, 24, 26);
    max-width: 130px;
    padding: 5px 10px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.remember{
    position: relative;
    display: inline-block;
    color: white;
    font-weight: 300;
    margin-bottom: 17px;
    cursor: pointer;
}
div.box .reg p{
    display: inline;
    padding: 0 15px;
    font-size: 15px;
}
div.box .reg a{
    color: white;
    text-decoration: underline;
}
div.box .reg a:hover{
    color: rgb(22, 24, 26)
}
div.box .reg h3{
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
@media (max-width: 570px){
    div.box{
        margin: 5% 15%;
        width: 70%;
        min-height: 50vh;
    }
}
@media (max-width: 490px){
    div.box{
        margin: 5% 15%;
        width: 70%;
        min-height: 50vh;
    }
    div.box .reg p{
        display: block;
        margin-bottom: 10px;
    }
}
@media (max-width: 430px){
    div.box{
        margin: 5% 10%;
        width: 80%;
    }
}


