<!DOCTYPE html>
<html>
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Online wallet for cash and crypto" />
        <meta http-equiv="author" content="Damilare Agbabiaka" />
        <meta name="title" content="Bool; Online Wallet" />
        <meta name="summary" content="Online wallet for cash and crypto" />
        <meta name="language" content="English" />
        <meta name="robots" content="index,follow" />
        <meta name="Classification" content="commerce" />
        <meta name="designer" content="Damilare Agbabiaka" />
        <meta name="category" content="Online Banking">
        <meta name="distribution" content="Global">
        <meta name="rating" content="General">
        
        <!-- Bootstrap files and Jquery-->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        -->
        <!-- Css Files -->
        <link rel="stylesheet" href="../static/base.css" type='text/css' />
        {% block css %}{% endblock %}
        
        <!-- favicon -->
        <link rel="icon" type="image/png" href="../static/images/favicon.png" />
        
        <title>
            Bool; {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <div class='header'>
            <h3>Disclaimer:</h3>
            <p>This is just to solidyfy my newly acquired knowledge. I might mess
                around and make it into something real later. Cheers!
                <spam>PS: Refer me Jobs % </spam>
            </p>
        </div>
        <div class='sec_header'>
            <img src='../static/images/logo.png' alt='logo' />
            <nav>
                <ul>
                    <li><a href='#aboutus'>About Us</a></li>
                    <li><a href='#'>Help Center</a></li>
                    <li><a href='#'>Hire Us</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>