<!DOCTYPE html>
<html>
    <head>
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="../static/images/logo.png" />

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Online wallet for cash and crypto" />
        <meta http-equiv="author" content="Damilare Agbabiaka" />
        <meta name="title" content="Bool; Online Wallet" />
        <meta name="summary" content="Online wallet for cash and crypto" />
        <meta name="language" content="English" />
        <meta name="robots" content="index,follow" />
        <meta name="Classification" content="commerce" />
        <meta name="designer" content="Damilare Agbabiaka" />
        <meta name="category" content="Online Banking">
        <meta name="distribution" content="Global">
        <meta name="rating" content="General">
        
        <!-- Css File -->
        <link rel="stylesheet" href="../static/css/base.css" type='text/css' />
        {% block css %}{% endblock %}

        <title>
            Bool | {% block title %}{% endblock %}   
        </title>
    </head>
    <body>
        <section class="main">
            <!-- Start nav -->
            <nav id="nav">
                <input type='checkbox' id='check'>
                <label for="check" class="checkbtn">
                    <!--<i class="fas fa-bars"></i>-->
                    Menu
                </label>
                <label class="logo">Bool</label>
                <ul>
                    <li><a href="{{ url_for('.index') }}">Home</a></li>
                    <!--<li><a href="{{ url_for('.index') }}#about">About Us</a></li>
                    <li><a href="{{ url_for('.index') }}#security">Security</a></li>-->
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('.login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('.login') }}">Login</a></li>
                    <li><a href="{{ url_for('.register') }}">Register</a></li>
                    {% endif %}
                    <li><a href="#">FAQ</a></li>
                </ul>
            </nav>
            {% for message in get_flashed_messages() %}
            <div class="flash">
                <button type="button" class="close">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            <!-- End nav -->
            {% block content %}{% endblock %}
            <footer>
                Bool 2020&#169 | Website by <a href="http://blankgodd.surge.sh"
                target="_blank">Damilare Agba</a></footer>
        </section>
    </body>
</html>  