<!DOCTYPE html>
<html>
    <head>
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="../static/images/logo.png" />

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Online wallet for cash and crypto" />
        <meta http-equiv="author" content="Damilare Agbabiaka" />
        <meta name="title" content="Bool; Online Wallet" />
        <meta name="summary" content="Online wallet for cash and crypto" />
        <meta name="language" content="English" />
        <meta name="robots" content="index,follow" />
        <meta name="Classification" content="commerce" />
        <meta name="designer" content="Damilare Agbabiaka" />
        <meta name="category" content="Online Banking">
        <meta name="distribution" content="Global">
        <meta name="rating" content="General">
        
        <!-- Css File -->
        <link rel="stylesheet" href="../static/css/dash.css" type='text/css' />

        <title>
            Bool | Dashboard  
        </title>
    </head>
    <body>
        <div class="dash">
            <nav id="nav">
                <label class="logo">Bool</label>
                <a href="{{ url_for('.logout') }}">
                    Logout
                </a>
            </nav>
            <aside>
                <ul>
                    <li><a href="{{ url_for('.profile') }}">
                        Profile
                    </a></li>
                    <!-- Dropdown here -->
                    <div class="dropdown">
                        <li class="top">Save</li>
                        <ul class="dp-content">
                            <li><a href="{{ url_for('.save') }}">
                                Save</a></li>
                            <li><a href="{{ url_for('.savings') }}">
                                History</a></li>
                        </ul>
                    </div>
                    <!-- Dropdown here -->
                    <div class="dropdown">
                        <li class="top">Plans</li>
                        <ul class="dp-content">
                            <li><a href="{{ url_for('.plan') }}">
                                Plan</a></li>
                            <li><a href="{{ url_for('.plans') }}">
                                History</a></li>
                        </ul>
                    </div>
                    <li><a href="{{ url_for('.withdraw') }}">
                        Withdraw
                    </a></li>
                </ul>
            </aside>
            <section class="main">
                <div class="title">
                    <p>This Month</p>
                    {{  }}
                </div>
            </section>
        </div>
    </body>
</html>