{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/index.css" type='text/css' />
{% endblock %}

{% block title %}
Welcome
{% endblock %}

<!--Landing Page-->

{% block nav %}
<div class='sec_nav'>
    <ul>
        <li><a href="{{ url_for('.index') }}">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('.logout') }}">Logout</a></li>
        <li><a href="{{ url_for('.profile') }}">Profile</a></li>
        {% else %}
        <li><a href="{{ url_for('.login') }}">Login</a></li>
        <li><a href="{{ url_for('.create_acc') }}">Create Account</a></li>
        {% endif %}
        <li><a href="#">Security</a></li>
        <li><a href="#">Terms of Service</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

{% endblock %}