{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="../static/css/index.css" type='text/css' />
{% endblock %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<div class="front">
    <div id="banner2">
        <img src="../static/images/save.jpg" alt="savings">
        <div class="words">
            <h4>"Keep a log of your daily savings with us at bool!"</h4>
            <h4>
                "Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua."
            </h4>
            <!--<h4>Save in preperation for the rainy days</h4>
            <h4>Watch your account grow with our investment plan</h4>-->
        </div>
    </div>
    <div id="about">
        <h4>Who We Are</h4>
        <p>
            Here at Bool, we "Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua."
        </p>
        <p>
            We thrive at "Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua."
        </p>
        <p>
            Save with us today and "Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua."
        </p>
        <ul>
            <!-- Facts about savings -->
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. 
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. 
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. 
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. 
            </li>
        </ul>
    </div>
    <div id="security">
       <h4>Saveguard Your Account</h4>
       <p>
            Nobody knows your account better than you. That’s why 
            you should never share your account details and token 
            with anyone over the phone, SMS or email.
        <p>
        <br />
        <p>
            Bool is continuously developing and implementing security 
            enhancements to ensure the integrity of our Online Savings 
            platform. Our goal is to protect your online safety, the 
            confidentiality of our customer account and personal data.
        </p>
        <br />
        <p>    
            Learn more about protecting yourself online, how to spot 
            fraudulent e-mails and Web sites.
       </p>
       <br />
       <h4>Security Tips</h4>
       <ul>
            <li>
                    Giving away your Internet Banking login, PIN and codes 
                    from your token device, gives anyone total access to your 
                    account. Bool will never ask for any of these details via 
                    any form of communication
            </li>
            <li>
                    Create strong passwords for your Online Account login 
                    details. Change them often.
            </li>
            <li>
                    Subscribe to SMS alerts to be delivered to your cell phone 
                    or email, so you can stay updated on your account activity.
            </li>
            <li>
                    Always log on to our online savings service via our 
                    website - www.bool.com
            </li>
        </ul>
    </div>
    <a class="top" href="#nav">Top</a>
</div>
{% endblock %}