{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/login.css" type='text/css' />
{% endblock %}

{% block title %}
Login
{% endblock %}

<!-- Login Page -->

{% block nav %}
<div class='sec_nav'>
    <ul>
        <li><a href="{{ url_for('.index') }}">Home</a></li>
        <li><a href="{{ url_for('.create_acc') }}">Create Account</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Terms of Service</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<br />
<div class='col-4'>
    <h1 class='login'>Login</h1>
    <div class='form-section col-4'>
        <form method="post" action="">
            <p>Email</p>
            <input id='email' name='email' type='email' required='required' /><br />
            <p>Password</p>
            <input id='password' name='password' type='password' required='required' /><br />
            <input id='remember' type="checkbox" name="remember_me" value="remember_me" />
            <label for='remember'>Remember</label>
            <input id='submit' type="submit" name="submit" value="Login" />
        </form>
    </div>
</div>
<div class='col-7'>
    <h1>Media</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit.
    </p>
    <p>
        Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit.
    </p>
    <p>
        Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
    </p>
</div>


{% endblock %}